/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  list-style: none;
}

html,
body {
  height: 100%;
}
html {
  font-size: 15px;
}
body {
  background: #eee;
  font-family: 'Noto Sans', Roboto, sans-serif;
}

// Shared SCSS
@import './assets/scss/icon.scss'
